* {
    margin: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* TOPO DA PAGINA MENU SUPERIOR 1 */
.topo-pagina {
    background-color: #f7f7f7;
    height: 60px;
}

.menu-icon img {
    width: 28px;
    margin-top: 14px; 
}

.menu-icon img:hover {
    border-radius: 50%;
    background-color: #f16821;
}

.menu-contato span {
    margin-left: 30px;
    float: right;
    margin-top: 18px;
}

/* MENU DA PAGINA MENU */
.menu {
    height: 90px;
    background-color: #FFF;
}

.logo h3 {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 900;
    color: #000;
}

.menu-itens ul li {
    float: right;
    margin-right: 30px;
    margin-top: 34px;
}

.menu-itens ul li a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.menu-itens ul li a:hover {
    color: #f16821;
}

/* BANNER */
.banner {
    padding: 0px;
}

.fundo {
    background-image: url('../imgs/bannerteste.png');
    width: 100%;
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo h2 {
    padding-top: 200px;
    font-size: 80px;
    color: #FFF;
    font-weight: 700;
}

.fundo p {
    font-size: 16px;
    color: #FFF;
    letter-spacing: 0.7px;
}

.btn-transparente {
    margin-top: 25px;
    height: 50px;
    width: 160px;
    background-color: rgb(255, 255, 255, 0);
    border: 2px solid #FFF;
    color: #FFF;
    font-weight: 700;
}

.btn-transparente:hover {
    color: #000;
    background-color: #FFF;
}

.btn-branco {
    margin-top: 25px;
    height: 50px;
    width: 210px;
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #000;
    font-weight: 700;
}

.btn-branco:hover {
    color: #FFF;
    background-color: rgb(255, 255, 255, 0);
}

/* INICIO CONTEUDO - PRODUTOS */
.titulo-produtos {
    padding-top: 100px;
    text-align: center;
}

.titulo-produtos span {
    letter-spacing: 2px;
    color: #ababab;
    font-weight: 600;
}

.titulo-produtos h2 {
    font-weight: 900;
    color: #000;
    font-size: 40px;
}

.titulo-produtos p {
    color: gray;
    margin-bottom: 60px;
}

.produtos {
    text-align: center;
    margin-bottom: 40px;
}

.foto-produtos {
    height: 350px;
    width: 100%;
}

.titulo-cart-produto {
    font-size: 18px;
    color: #000;
    margin-top: 30px;
    margin-bottom: 10px;
}

.produtos p {
    color: gray;
    font-size: 14px;
}

.btn-cart-preto {
    width: 80px;
    height: 35px;
    background-color: black;
    color: #FFF;
    font-weight: 700;
    border: 2px solid #000;
}

.btn-cart-preto:hover {
    background-color: #FFF;
    color: #000;
}

.btn-cart-branco {
    width: 80px;
    height: 35px;
    background-color: #FFF;
    color: #000;
    font-weight: 700;
    border: 2px solid #000;
}

.btn-cart-branco:hover {
    background-color: #000;
    color: #FFF;
}

/* BUSCA DO SITE + PARALLAX */
.fundo-busca {
    margin-top: 100px;
    background-image: url('../imgs/bannerteste.png');
    width: 100%;
    height: 420px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.busca {
    text-align: center;
}

.busca h4 {
    padding-top: 110px;
    font-size: 28px;
    color: #FFF;
}

.busca input {
    margin-top: 20px;
    padding-left: 5px;
    height: 40px;
    width: 510px;
    background-color: rgb(255, 255, 255, 0);
    border: 2px solid #FFF;
    color: #CCC;
    font-weight: 700;
    font-style: italic;
}

.btn-inscrevase {
    height: 40px;
    width: 110px;
    background-color: rgb(255, 255, 255, 0);
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
}

.busca input:focus, .btn-inscrevase:focus {    
    box-shadow: 0 0 0 0;
    outline: 0;
}

.busca p {
    margin-top: 40px;
    color: #FFF;
}

/* MAIS PRODUTOS DETALHADOS */
.fundo-cinza {
    background-color: #fafafa;
    padding-bottom: 20px;
}

.sobre-produto {
    height: 550px;
    background-color: #FFF;
    margin-bottom: 80px !important;
}

.sobre-produto img {
    padding-top: 25px;
    padding-left: 20px;
}

.sobre-produto1-txt {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 50px;
}

.sobre-produto1-txt h5 {
    font-size: 30px;
    font-weight: bold;
}

.sobre-produto1-txt p {
    color: gray;
    margin-top: 25px;
}

.preco h5 {
    padding-top: 15px;
    font-weight: bolder;
    font-size: 22px;
}

.preco p {
    margin-top: 0px;
}

.preco span {
    color: #CCC;
    text-decoration: line-through;
    margin-right: 10px;
}

.btn-sobre-branco {
    width: 130px;
    height: 35px;
    background-color: #FFF;
    color: #000;
    border: 3px solid #000;
    font-size: 13px;
    font-weight: bolder;
}

.btn-sobre-branco:hover {
    color: #FFF;
    background-color: #000;
}

.btn-sobre-preto {
    width: 130px;
    height: 35px;
    background-color: #000;
    color: #FFF;
    border: 3px solid #000;
    font-size: 13px;
    font-weight: bolder;
}

.btn-sobre-preto:hover {
    color: #000;
    background-color: #FFF;
}

/* SOBRE - ABOUT US */
.sobre-nos {
    padding-top: 90px;
    background-color: #FFF;
}

.sobre-nos span {
    letter-spacing: 2px;
    color: #ababab;
    font-weight: 600;
}

.sobre-nos h2 {
    font-weight: 700;
    color: #000;
    font-size: 46px;
}

.sobre-nos p {
    color: gray;
}

.btn-sobre-nos {
    width: 130px;
    height: 35px;
    background-color: #000;
    color: #FFF;
    border: 3px solid #000;
    font-size: 13px;
    font-weight: bolder;
    margin-top: 15px;
}

.btn-sobre-nos:hover {
    color: #000;
    background-color: #FFF;
}

.sobre-nos .col-md-4 {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 40px;
}

/* LEADERSHIP E TEAM */
.team {
    margin-top: 60px;
    padding-bottom: 60px;
}

.team .col-md-4 {
    text-align: center;
}

.team h5 {
    padding-top: 20px;
    color: gray;
    margin-bottom: 5px;
    font-weight: normal;
}

.team span {
    color: #ccc;
    font-weight: 600;
    font-size: 13px;
}

.team p {
    margin-top: 15px;
    color: gray;
}

.team a img:hover {
    filter: contrast(10%) brightness(10%);
}

.fundo-summer {
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/bannerteste.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SUMMER */
.fundo-summer {
    text-align: center;
    padding-top: 180px;
}

.fundo-summer span {
    letter-spacing: 2px;
    color: #ababab;
    font-weight: 600;
}

.fundo-summer h4 {
    color: #FFF;
    font-weight: 700;
    font-size: 42px;
    padding-top: 15px;
}

.fundo-summer p {
    color: #FFF;
    font-size: 20px;
    padding-top: 20px;
}

.tempo {
    padding-top: 50px !important;
}

.tempo ul li {
    width: 80px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10%;
    background-color: #FFF;
    display: inline-block;
}

.tempo ul li span {
    font-size: 40px;
    color: rgb(121, 240, 137);
}

.tempo ul li p {
    color: gray;
    padding: 0px;
}

.btn-summer {
    width: 170px;
    height: 50px;
    background-color: rgb(255, 255, 255, 0);
    color: #FFF;
    border: 2px solid #FFF;
    font-size: 13px;
    font-weight: bolder;
    margin-top: 35px;
}

.btn-summer:hover {
    background-color: #FFF;
    color: #000;
}

/* OFFER SERVICE - SERVICOS OFERECIDOS */
.offer-service {
    padding-bottom: 100px;
}

.offer-service .row {
    padding-top: 60px;
}
.offer-service img {
    float: left;
}

.offer-service h5 {
    padding-left: 60px;
    color: gray;
}

.offer-service p {
    padding-left: 60px;
    padding-right: 30px;
    color: gray;
}

.offer-service a {
    text-decoration: none !important;
}

.offer-service a span {
    color: #f16821;
    padding-left: 60px;
}

.offer-service a span:hover {
    color: #c34b0e;
}

/* COMENTARIOS - TESTiMONIALS */
.comentarios {
    text-align: center;
    padding-bottom: 100px;
}

.comentarios img {
    margin-top: 50px;
    border-radius: 50%;
    width: 200px;
}

.comentarios p {
    margin-top: 20px;
    color: gray;
    font-size: 24px;
    padding-left: 180px;
    padding-right: 180px;
    font-style: italic;
}

.comentarios span {
    font-weight: bolder;
}

/* BLOG E POSTS */
.blog-post {
    margin-top: 70px;
    padding-bottom: 60px;
}

.blog-post img {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
}

.blog-post a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.blog-post p {
    margin-top: 8px;
    color: #cfcfcf;
}

.blog-post p a {
    color: #f16821;
    font-size: 16px;
}

.blog-post p a:hover {
    color: #c34b0e;
}

.blog-post span {
    color: gray;
}

/* CONTATO - CONTACT */
.contact {
    width: 600px;
    height: 780px;
    background-color: #FFF;
    margin-left: 24%;
    margin-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 80px;
}

.contact h2 {
    padding-top: 50px;
    padding-bottom: 25px;
    font-weight: normal;
    color: #000;
}

.contact label {
    color: #000;
    padding-top: 20px;
}

.btn-msg {
    width: 130px;
    height: 55px;
    background-color: #000;
    color: #FFF;
    border: 3px solid #000;
    font-size: 13px;
    font-weight: bolder;
    margin-top: 15px;
}

.btn-msg:hover {
    color: #000;
    background-color: #FFF;
}

/* RODAPE */
footer {
    height: 800px;
}
.rodape {
    padding-top: 100px;
}

.rodape h5 {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    padding-bottom: 30px;
}

.rodape p {
    color: gray;
}

.rodape ul {
    padding: 0px;
}

.rodape ul li {
    padding-bottom: 10px;
}

.rodape ul li a {
    color: gray;
    text-decoration: none;
}

.rodape ul li a:hover {
    color: #000;
}

.rodape div:nth-child(2){
    padding-left: 60px;
}

.icons-footer img {
    width: 16px;
    margin-right: 16px;
}

.icons-footer img:hover {
    filter: contrast(10%) brightness(10%);
    cursor: pointer;
}

.featured-footer img {
    width: 100%;
}

.rodape h6 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 400;
}

.rodape span {
    font-weight: bold;
}

.btn-cart {
    width: 130px;
    height: 35px;
    background-color: #000;
    color: #FFF;
    border: 3px solid #000;
    font-size: 13px;
    font-weight: bolder;
    margin-top: 15px;
}

.btn-cart:hover {
    color: #000;
    background-color: #FFF;
}

.mensagem-rodape {
    text-align: center;
    padding-top: 150px;
}

.mensagem-rodape p, .mensagem-rodape p a {
    color: gray;
    text-decoration: none; 
    margin: 1px;
}

.mensagem-rodape p a:hover {
    color: #000;
}